html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
}

body {
  display: block;
  background-color: #083e40;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
}

h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 6em;
  line-height: 80%;
  margin: 0px;
  color: white;
}

.button-text a {
  font-family: "Podkova", serif;
  font-size: 2em;
  /* line-height: 80%; */
  color: black;
  font-weight: 600;
}

h3 {
  font-family: "Podkova", serif;
  font-size: 2.3em;
  line-height: 80%;
  margin: 40px 0px;
  color: #f47b6a;
  /* text-shadow: 2px 2px 10px black; */
}

h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.75em;
  margin: 0px;
  color: white;
  padding-bottom: 20px;
}

h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.25em;
}

h6 {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 1.25em;
    padding: 0px;
    margin: 20px 10px;
}

p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.5em;
  margin: 30px 0px 0px 0px;
  color: white;
}

.nav-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 30px;
  font-family: "Podkova", serif;
  font-size: 1.25em;
  color: white;
  justify-content: space-between;
}

.nav-ul {
  display: flex;
  flex-direction: center;
  justify-content: center;
  /* height: 50px; */
  padding: 0;
}

.nav-bar li {
  display: inline-block;
  padding: 10px 20px;
  text-align: right;
  color: white;
}

.nav-bar li:hover {
  color: #f47b6a;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon {
  display: inline-block;
}

.banner {
  display: block;
  margin: 0px;
  padding: 0px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: relative;
  /* The image used */
  background-image: url("/img/IMG_3863.png");
  height: 600px;
  background-blend-mode: multiply;
  background-color:rgb(224, 224, 224);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro {
  position: absolute;
  bottom: 10%;
  left: 30px;
  right: 30px;
}

.button-menu {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 10px 10px 10px;
}

.photo-button {
  width: 33%;
  padding: 10px;
  position: relative;
  max-width: 500px;
}

.photo-button img {
  width: 100%;
  object-fit: cover;
  border-radius: 100%;
  opacity: 0.75;
}

.photo-button img:hover {
  opacity: 1;
  transition: ease 250ms;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* .more-info {
  padding: 30px;
}

.more-info ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.more-info li {
  width: 30%;
  font-family: "Podkova", serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 115%;
  min-width: 300px;
  padding: 30px;
  height: 180px;
  position: relative;
  color: #f47b6a;
}

.overlay {
  opacity: 0;
  background-color: #083e40;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.overlay h5 {
  font-family: "DM Sans", sans-serif;
  font-size: 2em;
  text-decoration: underline;
  color: white;
  margin: 0 auto;
  padding: 40px 0px 20px 0px;
}

.overlay:hover, .overlay:active, .overlay:focus {
  opacity: 1;
  transition: 10ms ease;
}

.overlay .icon {
  color: white;
  font-size: 0.75em;
}

.overlay p {
  font-size: 0.75em;
  margin: 2px 40px;
  font-style: italic;
}

.false {
  transform: rotate(220deg);
} */

/* Modal Boxes */
.trueorfalse {
  border-top: 1px solid white;
  padding: 50px 10px 20px 10px;
  text-align: center;
  margin: 50px 50px;
}

.trueorfalse h6 {
  margin-top: -10px;
  padding-bottom: 0px;
  font-weight: 400;
  font-size: .9em;
  font-style: italic;
  opacity: .75;
  margin-bottom: 10;
}

.tf-modal {
    display: flex;
    flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}

.modalbox {
    background-color:  #083e40;
    border: 0;
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    width: 33%;
    height: 180px;
    min-width: 300px;
    /* position: fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
}

button.open {
    background-color: transparent;
    border: 0;
    font-family: "Podkova", serif;
  font-size: 1.5em;
  text-align: center;
  line-height: 115%;
  color: #f47b6a;
}

button.open:focus {
  border: 0;
}

button.open:hover {
  transform: scale(1.0625, 1.0625);
  transition: ease 15ms;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
}

.modal-container {
    background-color: rgba(128, 128, 128, 0.514);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal {
    background-color: white;
    width: 300px;
    height: 300px;
    margin-top: 0;
    max-width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px 35px;
    color: #083e40;
}

.modal h5 {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3em;
}

.modal p {
    margin-top: 0;
    color: #083e40;
    padding-top: 0;
    font-size: 1em;
    text-align: center;
}

.modal i {
 font-size: 1.25em;
}

button.close {
    background-color: #f47b6a;
    border: 0;
    border-radius: 10px;
    padding: 10px 25px;
    font-family: "Podkova", serif;
    font-size: 1.25em;
    color: white;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

.about {
  padding: 0px 40px;
}

.about h3 {
  margin-bottom: 0;
}

.rule {
  margin: 20px 50px 0px 50px;
  border-bottom: 1px solid white;
}

.bio {
  margin-top: 0px;
}

.bio p {
  font-size: 1.2em;
}

.bio em {
  font-style: italic;
}

.resume {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  padding: 30px;
  /* background-color: rgba(255, 255, 255, 0.171); */
  /* margin: 10px; */
}

.experience {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 70%;
  margin: 10px 30px 10px 10px;
}

.experience h5,
.experience p {
  font-size: 1em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.about p {
  padding-bottom: 30px;
}

.resume h4,
.resume h5 {
  padding: 0;
  margin: 0;
}

.resume h5 {
  color: rgba(255, 255, 255, 0.486);
  font-style: italic;
  font-weight: 400;
}

.resume li {
  font-family: "DM Sans", sans-serif;
  font-size: 1em;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  color: white;
  font-weight: 400;
}

.job i {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.486);
}

.education {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 30%;
  margin: 10px 0px;
  align-content: flex-start;
}

.education h4 {
  font-family: "DM Sans", sans-serif;
  font-size: 1.4em;
  color:#f47b6a;
  padding-bottom: 10px;
  text-align: right;
  opacity: .75;
  font-style: italic;
}

.school,
.prof {
  background-color: rgba(255, 255, 255, 0.123);
  border-radius: 10px;
  padding: 30px;
  /* height: 200px; */
  width: 100%;
  text-align: left;
  margin: 10px 0px;
}

.school h5, .school h6, .prof h5, .prof h6 {
  margin-top: 0;
}

.school h5, .prof h5 {
  font-size: 1em;
}

.school h6, .prof h6 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.prof {
  height: auto;
}

.download {
    background-color: #f47b6a;;
    border-radius: 10px;
    padding: 0px;
    height: auto;
    width: 100%;
    text-align: center;
    margin: 10px 0px;
  }

  .download a:hover {
    text-decoration: underline;
  }

.prof li {
  font-family: "Podkova", serif;
  font-size: 1.125em;
  margin-top: 0px;
  margin-left: -10px;
}

.portintro {
  padding: 10px 30px 0px 30px;
}

.portintro h3 {
  line-height: 1.0625em;
  font-size: 1.7em;
}

/* Portfolio Modal Boxes */

.port-box {
  background-color: #083e40;
  border: 0;
  color: white;
  font-size: 14px;
  padding: 10px 25px;
  width: 33%;
  height: 180px;
  min-width: 300px;
  /* position: fixed; */
  display: flex;
  align-items: center;
  justify-content: center;
}

button.port-open {
  background-color: transparent;
  border: 0;
  font-family: "Podkova", serif;
font-size: 1.5em;
text-align: center;
/* line-height: 135%; */
color: #f47b6a;
display: flex;
flex-direction: row;
}

button.port-open:focus {
border: 0;
}

button.port-open:hover {
/* transform: scale(1.0625, 1.0625); */
transition: ease 15ms;
text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
background-color: rgba(255, 255, 255, 0.123);
margin: 0;
border-radius: 15px;
}

.port-modal-container {
  background-color:  rgba(255, 255, 255, 0.333);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  padding: 5%;
}

.port-modal-inner {
  background-color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  overflow-y: scroll;
  max-height: 100%;
  border-radius: 15px;
  max-width: 90vw;
  padding-bottom: 30px;
}

.pmi-p h6 {
  color: #f47b6a;
  padding-top: 30px;
  font-family: "Podkova", serif;
  font-size: 1.5em;
}

.pmi-p {
  width: 100%;
  padding-bottom: 0;
}

.port-modal-inner img {
  /* width: 400px; */
  max-height: 400px;
  margin: 20px;
  max-width: 85%;
}

.port-modal-inner p {
  font-size: 1.125em;
  margin: 50px;
  color: #083e40;
}

button.port-close {
  background-color: #f47b6a;
  border: 0;
  border-radius: 10px;
  padding: 10px 25px;
  font-family: "Podkova", serif;
  font-size: 1.25em;
  color: white;
  /* margin: 30px; */
}

.pmi-b {
  padding-bottom: 50px;
}

.port-modal-container.show {
  opacity: 1;
  pointer-events: auto;
}

.project {
  display: flex;
  flex-direction: row;
  margin: 30px;
}

.port-open img {
  width: 300px;
  height: 300px;
  padding: 30px 25px;
  display: block;
}

.blurb {
  padding: 30px 30px 30px 30px;
  text-align: left;
}

.blurb p {
  font-size: .75em;
  /* margin-left: 10px; */
}

.footer {
  display: block;
  text-align: center;
  padding-top: 20px;
}

.footer p {
  margin: 0px 0px 30px 0px;
  font-size: 1em;
}

@media only screen and (max-width: 767px) {
  .nav-ul {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0px;
  }

  .nav-ul.show {
      display: flex;
  }

  .hamburger {
    display: block;
  }

  h1 {
    font-size: 5em;
    line-height: 90%;
  }

  h3 {
    font-size: 2.5em;
    margin: 20px 0px;
  }

  p {
    font-size: 1em;
    margin: 20px 0px 0px 0px;
  }

  .banner {
    background-image: url("/img/IMG_3863mo.png");
    background-color: rgb(182, 180, 180);
    background-attachment: scroll;
  }

  .photo-button {
    border-radius: 100%;
    width: 100%;
    padding: 20px;
    /* max-width: 400px;
        max-height: 400px; */
  }

  /* .more-info li {
      padding: 40px 0px;
      height: auto;
  }

  .overlay p {
      margin: 2px 10px;
  } */

  .resume {
    flex-wrap: wrap;
  }

  .experience,
  .education {
    width: 100%;
  }

  .portintro h3 {
    font-size: 1.35em;
    line-height: 1.25em;
  }

  .port-box {
    height: auto;
  }

  button.port-open {
    flex-direction: column;
    max-width: 100%;
  }

  .port-open img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-bottom: 0;
  }

  .blurb {
    text-align: center;
  }

  .pmi-i {
    width: 100%;
    height: auto;
  }

  .pmi-p h6 {
    font-size: 1.35em;
    margin: 0px 20px;
    padding-bottom: 0;
  }
  
  .pmi-p {
    font-size: .9em;
    padding-bottom: 0;
  }
}
